.kcp*
*.log
coverage.*
tools
build
.vscode
/metadata/scripts/venv
/metadata/commits
/metadata/branches
/metadata/remotebranches
/metadata/tags

# JetBrains IDE files
.idea/
*.iml

# Mac trash
.DS_Store
