# Netlify configuration file
# https://docs.netlify.com/configure-builds/file-based-configuration/


[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20.11.1"

[[plugins]]
  package = "@netlify/plugin-nextjs"

# Forms configuration
[forms]
  # Enable spam filtering
  spam_protection = true

# Redirects for short URLs
[[redirects]]
  from = "/agenda"
  to = "https://docs.google.com/document/d/1XppfxSOD7AOX1lVVVIPWjpFkrxakfBfVzcybRg17-PM/edit?usp=share_link"
  status = 301
  force = true

[[redirects]]
  from = "/blog"
  to = "https://medium.com/@kubestellar/list/predefined:e785a0675051:READING_LIST"
  status = 301
  force = true

[[redirects]]
  from = "/code"
  to = "https://github.com/kubestellar/kubestellar"
  status = 301
  force = true

[[redirects]]
  from = "/community"
  to = "https://docs.kubestellar.io/stable/Community/_index/"
  status = 301
  force = true

[[redirects]]
  from = "/drive"
  to = "https://drive.google.com/drive/u/1/folders/1p68MwkX0sYdTvtup0DcnAEsnXElobFLS"
  status = 301
  force = true

[[redirects]]
  from = "/infomercial"
  to = "https://youtu.be/rCjQAdwvZjk"
  status = 301
  force = true

[[redirects]]
  from = "/join_us"
  to = "https://groups.google.com/g/kubestellar-dev"
  status = 301
  force = true

[[redirects]]
  from = "/joinus"
  to = "https://groups.google.com/g/kubestellar-dev"
  status = 301
  force = true

[[redirects]]
  from = "/ladder"
  to = "https://kubestellar.io/en/ladder"
  status = 301
  force = true

[[redirects]]
  from = "/ladder_stats"
  to = "https://docs.google.com/spreadsheets/d/16CxUk2tNbTB-Si0qRVwIrI_f19t9HwSby9C1djMN7Sc/edit?usp=sharing"
  status = 301
  force = true

[[redirects]]
  from = "/linkedin"
  to = "https://www.linkedin.com/feed/hashtag/?keywords=kubestellar"
  status = 301
  force = true

[[redirects]]
  from = "/quickstart"
  to = "https://kubestellar.io/en/quick-installation"
  status = 301
  force = true

[[redirects]]
  from = "/slack"
  to = "https://cloud-native.slack.com/archives/C097094RZ3M"
  status = 301
  force = true

[[redirects]]
  from = "/survey"
  to = "https://forms.gle/WJ7N6ZVtp44D9NK79"
  status = 301
  force = true

[[redirects]]
  from = "/tv"
  to = "https://youtube.com/@kubestellar"
  status = 301
  force = true

[[redirects]]
  from = "/youtube"
  to = "https://youtube.com/@kubestellar"
  status = 301
  force = true
