kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: grafana-ui
spec:
  to:
    kind: Service
    name: grafana
    weight: 100
  port:
    targetPort: service
  wildcardPolicy: None
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
