# permissions for end users to view placementpolicies.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: placementpolicy-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kubestellar
    app.kubernetes.io/part-of: kubestellar
    app.kubernetes.io/managed-by: kustomize
  name: placementpolicy-viewer-role
rules:
- apiGroups:
  - control.kubestellar.io
  resources:
  - placementpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - control.kubestellar.io
  resources:
  - placementpolicies/status
  verbs:
  - get
