# Core dependencies
mkdocs>=1.5
Jinja2>=3.1.5
Markdown>=3.3.7
MarkupSafe>=2.1.2

# MkDocs plugins
mkdocs-material>=9.5.34
mkdocs-material-extensions>=1.3
mkdocs-awesome-pages-plugin>=2.8.0
mkdocs-mermaid2-plugin>=1.1.1
mkdocs-macros-plugin>=0.7.0
mkdocs-static-i18n>=0.53
mkdocs-open-in-new-tab>=1.0.2

# For version management
mike>=1.1.2

# Markdown extensions
markdown-captions>=2.1.2
pymdown-extensions>=10.2
Pygments>=2.16

# Use the latest compatible version of mkdocs-include-markdown-plugin
mkdocs-include-markdown-plugin>=7.1.2
# ../../mkdocs-include-markdown-plugin
