---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: bindingpolicies.control.kubestellar.io
spec:
  group: control.kubestellar.io
  names:
    kind: BindingPolicy
    listKind: BindingPolicyList
    plural: bindingpolicies
    shortNames:
    - bp
    singular: bindingpolicy
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=='Synced')].status
      name: SYNCED
      type: string
    - jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: READY
      type: string
    - jsonPath: .spec.type
      name: TYPE
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BindingPolicy defines in which ways the workload objects ('what')
          and the destinations ('where') are bound together.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BindingPolicySpec defines the desired state of BindingPolicy
            properties:
              clusterSelectors:
                description: '`clusterSelectors` identifies the relevant Cluster objects
                  in terms of their labels. A Cluster is relevant if and only if it
                  passes any of the LabelSelectors in this field.'
                items:
                  description: A label selector is a label query over a set of resources.
                    The result of matchLabels and matchExpressions are ANDed. An empty
                    label selector matches all objects. A null label selector matches
                    no objects.
                  properties:
                    matchExpressions:
                      description: matchExpressions is a list of label selector requirements.
                        The requirements are ANDed.
                      items:
                        description: A label selector requirement is a selector that
                          contains values, a key, and an operator that relates the
                          key and values.
                        properties:
                          key:
                            description: key is the label key that the selector applies
                              to.
                            type: string
                          operator:
                            description: operator represents a key's relationship
                              to a set of values. Valid operators are In, NotIn, Exists
                              and DoesNotExist.
                            type: string
                          values:
                            description: values is an array of string values. If the
                              operator is In or NotIn, the values array must be non-empty.
                              If the operator is Exists or DoesNotExist, the values
                              array must be empty. This array is replaced during a
                              strategic merge patch.
                            items:
                              type: string
                            type: array
                        required:
                        - key
                        - operator
                        type: object
                      type: array
                    matchLabels:
                      additionalProperties:
                        type: string
                      description: matchLabels is a map of {key,value} pairs. A single
                        {key,value} in the matchLabels map is equivalent to an element
                        of matchExpressions, whose key field is "key", the operator
                        is "In", and the values array contains only "value". The requirements
                        are ANDed.
                      type: object
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              downsync:
                description: '`downsync` selects the objects to bind with the selected
                  WECs for downsync, and modulates their downsync. An object is selected
                  if it matches at least one member of this list. When multiple DownsyncPolicyClause
                  match the same workload object: the `createOnly` bits are ORed together,
                  and the StatusCollector reference sets are combined by union.'
                items:
                  description: DownsyncPolicyClause identifies some objects (by a
                    predicate) and modulates how they are downsynced. One modulation
                    is specifying a set of StatusCollectors to apply to returned status.
                    The other modulation is specifying whether the propagation from
                    WDS to WEC involves continual maintenance of the spec or the object
                    is only created if it is absent.
                  properties:
                    apiGroup:
                      description: '`apiGroup` is the API group of the referenced
                        object, empty string for the core API group. `nil` matches
                        every API group.'
                      type: string
                    createOnly:
                      description: '`createOnly` indicates that in a given WEC, the
                        object is not to be updated if it already exists.'
                      type: boolean
                    namespaceSelectors:
                      description: '`namespaceSelectors` a list of label selectors.
                        For a namespaced object, at least one of these label selectors
                        has to match the labels of the Namespace object that defines
                        the namespace of the object that this DownsyncObjectTest is
                        testing. For a cluster-scoped object, at least one of these
                        label selectors must be `{}`. Empty list is a special case,
                        it matches every object.'
                      items:
                        description: A label selector is a label query over a set
                          of resources. The result of matchLabels and matchExpressions
                          are ANDed. An empty label selector matches all objects.
                          A null label selector matches no objects.
                        properties:
                          matchExpressions:
                            description: matchExpressions is a list of label selector
                              requirements. The requirements are ANDed.
                            items:
                              description: A label selector requirement is a selector
                                that contains values, a key, and an operator that
                                relates the key and values.
                              properties:
                                key:
                                  description: key is the label key that the selector
                                    applies to.
                                  type: string
                                operator:
                                  description: operator represents a key's relationship
                                    to a set of values. Valid operators are In, NotIn,
                                    Exists and DoesNotExist.
                                  type: string
                                values:
                                  description: values is an array of string values.
                                    If the operator is In or NotIn, the values array
                                    must be non-empty. If the operator is Exists or
                                    DoesNotExist, the values array must be empty.
                                    This array is replaced during a strategic merge
                                    patch.
                                  items:
                                    type: string
                                  type: array
                              required:
                              - key
                              - operator
                              type: object
                            type: array
                          matchLabels:
                            additionalProperties:
                              type: string
                            description: matchLabels is a map of {key,value} pairs.
                              A single {key,value} in the matchLabels map is equivalent
                              to an element of matchExpressions, whose key field is
                              "key", the operator is "In", and the values array contains
                              only "value". The requirements are ANDed.
                            type: object
                        type: object
                        x-kubernetes-map-type: atomic
                      type: array
                    namespaces:
                      description: '`namespaces` is a list of acceptable names for
                        the object''s namespace. An entry of `"*"` means that any
                        namespace is acceptable; this is the only way to match a cluster-scoped
                        object. If this list contains `"*"` then it should contain
                        nothing else. Empty list is a special case, it matches every
                        object.'
                      items:
                        type: string
                      type: array
                    objectNames:
                      description: '`objectNames` is a list of object names that match.
                        An entry of `"*"` means that all match. If this list contains
                        `"*"` then it should contain nothing else. Empty list is a
                        special case, it matches every object.'
                      items:
                        type: string
                      type: array
                    objectSelectors:
                      description: '`objectSelectors` is a list of label selectors.
                        At least one of them must match the labels of the object being
                        tested. Empty list is a special case, it matches every object.'
                      items:
                        description: A label selector is a label query over a set
                          of resources. The result of matchLabels and matchExpressions
                          are ANDed. An empty label selector matches all objects.
                          A null label selector matches no objects.
                        properties:
                          matchExpressions:
                            description: matchExpressions is a list of label selector
                              requirements. The requirements are ANDed.
                            items:
                              description: A label selector requirement is a selector
                                that contains values, a key, and an operator that
                                relates the key and values.
                              properties:
                                key:
                                  description: key is the label key that the selector
                                    applies to.
                                  type: string
                                operator:
                                  description: operator represents a key's relationship
                                    to a set of values. Valid operators are In, NotIn,
                                    Exists and DoesNotExist.
                                  type: string
                                values:
                                  description: values is an array of string values.
                                    If the operator is In or NotIn, the values array
                                    must be non-empty. If the operator is Exists or
                                    DoesNotExist, the values array must be empty.
                                    This array is replaced during a strategic merge
                                    patch.
                                  items:
                                    type: string
                                  type: array
                              required:
                              - key
                              - operator
                              type: object
                            type: array
                          matchLabels:
                            additionalProperties:
                              type: string
                            description: matchLabels is a map of {key,value} pairs.
                              A single {key,value} in the matchLabels map is equivalent
                              to an element of matchExpressions, whose key field is
                              "key", the operator is "In", and the values array contains
                              only "value". The requirements are ANDed.
                            type: object
                        type: object
                        x-kubernetes-map-type: atomic
                      type: array
                    resources:
                      description: '`resources` is a list of lowercase plural names
                        for the sorts of objects to match. An entry of `"*"` means
                        that all match. If this list contains `"*"` then it should
                        contain nothing else. Empty list is a special case, it matches
                        every object.'
                      items:
                        type: string
                      type: array
                    statusCollection:
                      description: '`statusCollection` holds the rules for collecting
                        status from the WECs.'
                      properties:
                        statusCollectors:
                          description: '`statusCollectors` is a list of StatusCollectors
                            name references to be applied.'
                          items:
                            type: string
                          type: array
                      type: object
                  type: object
                type: array
              wantSingletonReportedState:
                description: WantSingletonReportedState means that for workload objects
                  that are distributed --- taking all BindingPolicies into account
                  --- to exactly one WEC, the object's reported state from the WEC
                  should be written to the object in its WDS. If any of the workload
                  objects are distributed to more or less than 1 WEC then the `.status.errors`
                  of this policy will report that discrepancy for some of them.
                type: boolean
            type: object
          status:
            description: BindingPolicyStatus defines the observed state of BindingPolicy
            properties:
              conditions:
                items:
                  description: BindingPolicyCondition describes the state of a bindingpolicy
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              errors:
                items:
                  type: string
                type: array
              observedGeneration:
                format: int64
                type: integer
            required:
            - observedGeneration
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
