name: Add Help Wanted Labels

on:
  issue_comment:
    types: [created]

permissions:
  contents: read

jobs:
  label:
    uses: kubestellar/infra/.github/workflows/reusable-add-help-wanted.yml@main
    secrets: inherit
