name: Add issues to project

on:
  issues:
    types:
      - opened
      - reopened

permissions:
  contents: write
  
jobs:
  create-update-project:
    if: github.repository_owner == 'kubestellar'
    name: Create/update project issue
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
        
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
          persist-credentials: 'false'
      
      - uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e
        with:
          project-url: https://github.com/orgs/kubestellar/projects/5
          github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
        id: add-project
      
      - uses: titoportas/update-project-fields@421a54430b3cdc9eefd8f14f9ce0142ab7678751
        with:
          project-url: https://github.com/orgs/kubestellar/projects/5
          github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
          item-id: ${{ steps.add-project.outputs.itemId }} # Use the item-id output of the previous step
          field-keys: Status,Date Posted
          field-values: New,${{ steps.date.outputs.date }}
