name: Feedback Wanted

on:
  pull_request:
    types: [closed]

permissions:
  contents: read
  pull-requests: write

jobs:
  feedback:
    uses: kubestellar/infra/.github/workflows/reusable-feedback.yml@main
    secrets: inherit
