name: goreleaser

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io
  CONTROLLER_MANAGER_IMAGE: kubestellar/kubestellar/controller-manager
  TRANSPORT_CONTROLLER_IMAGE: kubestellar/kubestellar/ocm-transport-controller
  CM_CHART_PATH: ./chart
  TC_CHART_PATH: ./ocm-transport-controller-chart
  CORE_CHART_PATH: ./core-chart

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: actions/setup-go@v5
      with:
        go-version: v1.21

    - name: Delete non-semver tags
      run: 'git tag -d $(git tag -l | grep -v "^v")'

    - name: Set LDFLAGS
      run: echo LDFLAGS="$(make ldflags)" >> $GITHUB_ENV

    - name: Run GoReleaser on tag
      uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: latest
        args: release --timeout 60m --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        USER: ${{ github.actor }}
        EMAIL: ${{ github.actor}}@users.noreply.github.com

    - name: Set up Helm
      uses: azure/setup-helm@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Package and push charts
      run: |
        chartVersion=$(echo ${{ github.ref_name }} | cut -c 2-)
        make chart CONTROLLER_MANAGER_IMAGE=${{ env.REGISTRY }}/${{ env.CONTROLLER_MANAGER_IMAGE }}:${{github.ref_name}}
        helm package ${{ env.CM_CHART_PATH }} --destination . --version ${chartVersion} --app-version ${chartVersion}
        helm push ./controller-manager-chart*.tgz oci://${{ env.REGISTRY }}/kubestellar/kubestellar
        
        sed -i "s/^KUBESTELLAR_VERSION:.*$/KUBESTELLAR_VERSION: \"${chartVersion}\"/g" ${{ env.CORE_CHART_PATH }}/values.yaml
        helm package ${{ env.CORE_CHART_PATH }} --destination . --version ${chartVersion} --app-version ${chartVersion} --dependency-update
        helm push ./core-chart*.tgz oci://${{ env.REGISTRY }}/kubestellar/kubestellar
        
        sed -i 's@OTC_IMAGE_PLACEHOLDER@${{ env.REGISTRY }}/${{ env.TRANSPORT_CONTROLLER_IMAGE }}:'"${chartVersion}"'@g' ${{ env.TC_CHART_PATH }}/templates/controller.yaml
        helm package ${{ env.TC_CHART_PATH }} --destination . --version ${chartVersion} --app-version ${chartVersion} --dependency-update
        helm push ./ocm-transport-controller-chart*.tgz oci://${{ env.REGISTRY }}/kubestellar/kubestellar
