name: goreleaser

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: read

env:
  REGISTRY: ghcr.io
  CORE_CHART_PATH: ./core-chart

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: 1.24

      - name: Delete non-semver tags
        run: 'git tag -d $(git tag -l | grep -v "^v")'

      - name: Set LDFLAGS
        run: echo LDFLAGS="$(make ldflags)" >> $GITHUB_ENV

      - name: Install syft binary executable
        uses: anchore/sbom-action/download-syft@62ad5284b8ced813296287a0b63906cb364b73ee

      - name: Run GoReleaser on tag
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a
        with:
          distribution: goreleaser
          version: latest
          args: release --timeout 60m --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USER: ${{ github.actor }}
          EMAIL: ${{ github.actor}}@users.noreply.github.com

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package and push charts
        run: |
          chartVersion=$(echo ${{ github.ref_name }} | cut -c 2-)

          sed -i "s/^KUBESTELLAR_VERSION:.*$/KUBESTELLAR_VERSION: \"${chartVersion}\"/g" ${{ env.CORE_CHART_PATH }}/values.yaml

          helm package ${{ env.CORE_CHART_PATH }} --destination . --version ${chartVersion} --app-version ${chartVersion} --dependency-update
          helm push ./core-chart*.tgz oci://${{ env.REGISTRY }}/kubestellar/kubestellar

      - name: Trigger docs version branch
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3
        with:
          token: ${{ secrets.WORKFLOW_SYNC_TOKEN }}
          repository: kubestellar/docs
          event-type: create-version-branch
          client-payload: |
            {
              "project": "kubestellar",
              "version": "${{ github.ref_name }}",
              "source_repo": "${{ github.repository }}",
              "source_branch": "main"
            }
