name: Greetings

on:
  pull_request_target:
    types: [opened, reopened]
  issues:
    types: [opened, reopened]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  greet:
    uses: kubestellar/infra/.github/workflows/reusable-greetings.yml@main
    secrets: inherit
