name: Run E2E tests on OCP

on:
  workflow_call:
  # So we can trigger manually if needed
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ginkgo-test:
    name: ginkgo tests
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.24
          cache: true

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        id: install

      - name: Install dependencies
        run: |
          export USE_SUDO=false
          mkdir clusteradm
          export INSTALL_DIR="$PWD/clusteradm"
          bash <(curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/refs/tags/v0.10.1/install.sh) 0.10.1
          curl -L https://github.com/kubestellar/kubeflex/releases/download/v0.9.2/kubeflex_0.9.2_linux_amd64.tar.gz --output kubeflex.tar.gz
          tar -xvf kubeflex.tar.gz bin/kflex
          go install github.com/onsi/ginkgo/v2/ginkgo
          curl -L https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.15/openshift-client-linux.tar.gz --output openshift-client-linux.tar.gz
          tar -xvf openshift-client-linux.tar.gz
          cp oc bin
          curl -L https://github.com/kubestellar/kubestellar/archive/refs/tags/v0.22.0.tar.gz --output kubestellar.tar.gz
          tar -xvf kubestellar.tar.gz
          mv kubestellar-0.22.0 kubestellar

      - name: Run test
        run: |
          export PATH=$PWD/clusteradm:$PWD/bin:$PATH
          kubectl get secret kubeconfigfile --output="jsonpath={.data.edgeplatform-cicd-config}" | base64 --decode > kubeconfig.tmp
          export KUBECONFIG=$PWD/kubeconfig.tmp
          export KUBESTELLAR_VERSION=0.22.0
          export OCM_STATUS_ADDON_VERSION=0.2.0-rc8
          export OCM_TRANSPORT_PLUGIN=0.1.8
          export PATH=~/oc:$PATH
          export KFLEX_DISABLE_CHATTY=true
          bash <(curl -s https://raw.githubusercontent.com/kubestellar/kubestellar/release-$KUBESTELLAR_VERSION/test/e2e/common/cleanup.sh) --env ocp
          source <(curl -s https://raw.githubusercontent.com/kubestellar/kubestellar/release-$KUBESTELLAR_VERSION/test/e2e/common/setup-shell.sh)
          bash <(curl -s https://raw.githubusercontent.com/kubestellar/kubestellar/release-$KUBESTELLAR_VERSION/test/e2e/common/setup-kubestellar-ocp.sh)
          cd kubestellar/test/e2e/ginkgo
          KFLEX_DISABLE_CHATTY=true ginkgo -v --trace --no-color -- -released -skip-setup

  bash-script-test:
    name: bash script tests
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.24
          cache: true

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        id: install

      - name: Install dependencies
        run: |
          mkdir clusteradm
          export USE_SUDO=false
          export INSTALL_DIR="$PWD/clusteradm"
          bash <(curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/refs/tags/v0.10.1/install.sh) 0.10.1
          curl -L https://github.com/kubestellar/kubeflex/releases/download/v0.9.2/kubeflex_0.9.2_linux_amd64.tar.gz --output kubeflex.tar.gz
          tar -xvf kubeflex.tar.gz bin/kflex
          go install github.com/onsi/ginkgo/v2/ginkgo
          curl -L https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.15/openshift-client-linux.tar.gz --output openshift-client-linux.tar.gz
          tar -xvf openshift-client-linux.tar.gz
          cp oc bin

      - name: Run test
        run: |
          export PATH=$PWD/clusteradm:$PWD/bin:$PATH
          kubectl get secret kubeconfigfile --output="jsonpath={.data.edgeplatform-cicd-config}" | base64 --decode > kubeconfig.tmp
          export KUBECONFIG=$PWD/kubeconfig.tmp
          export KUBESTELLAR_VERSION=0.22.0
          export OCM_STATUS_ADDON_VERSION=0.2.0-rc8
          export OCM_TRANSPORT_PLUGIN=0.1.8
          export PATH=~/oc:$PATH
          export KFLEX_DISABLE_CHATTY=true
          bash <(curl -s https://raw.githubusercontent.com/kubestellar/kubestellar/release-$KUBESTELLAR_VERSION/test/e2e/multi-cluster-deployment/run-test.sh) --env ocp --released
