name: Run integration tests

on:
  workflow_call:
  # So we can trigger manually if needed
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/workflows/**"
      - "**/*.md"
    paths:
      - ".github/workflows/pr-test-integration.yml"
  push:
    paths-ignore:
      - "docs/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/workflows/**"
      - "**/*.md"
    paths:
      - ".github/workflows/pr-test-integration.yml"

permissions:
  contents: read

jobs:
  test-integration:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version: 1.24
          cache: true

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        id: install

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d

      - name: Install dependencies
        run: |
          bash <(curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/refs/tags/v0.10.1/install.sh) 0.10.1
          wget https://github.com/kubestellar/kubeflex/releases/download/v0.8.9/kubeflex_0.8.9_linux_amd64.tar.gz
          tar -xvf kubeflex_0.8.9_linux_amd64.tar.gz bin/kflex
          mv bin/kflex /usr/local/bin
          rm -fr bin kubeflex_0.8.9_linux_amd64.tar.gz

      - name: Run test
        env:
          USE_GOTESTSUM: "1"
        run: hack/run-integration-tests.sh
