name: Run integration tests

on:
  workflow_call:
  # So we can trigger manually if needed
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  push:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  
jobs:
  test-integration:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version: v1.20
          cache: true

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        id: install

      - uses: ko-build/setup-ko@v0.6
      
      - name: Install dependencies
        run: |
          curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/main/install.sh | bash
          wget https://github.com/kubestellar/kubeflex/releases/download/v0.4.2/kubeflex_0.4.2_linux_amd64.tar.gz
          tar -xvf kubeflex_0.4.2_linux_amd64.tar.gz bin/kflex
          mv bin/kflex /usr/local/bin
          rm -fr bin kubeflex_0.4.2_linux_amd64.tar.gz

      - name: Run test
        env:
          USE_GOTESTSUM: "1"
        run: hack/run-integration-tests.sh
