name: Run integration tests

on:
  workflow_call:
  # So we can trigger manually if needed
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  push:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

jobs:
  test-integration:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: actions/setup-go@v5
        with:
          go-version: v1.22
          cache: true

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        id: install

      - uses: ko-build/setup-ko@v0.8

      - name: Install dependencies
        run: |
          bash <(curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/refs/tags/v0.10.1/install.sh) 0.10.1
          wget https://github.com/kubestellar/kubeflex/releases/download/v0.8.3/kubeflex_0.8.3_linux_amd64.tar.gz
          tar -xvf kubeflex_0.8.3_linux_amd64.tar.gz bin/kflex
          mv bin/kflex /usr/local/bin
          rm -fr bin kubeflex_0.8.3_linux_amd64.tar.gz

      - name: Run test
        env:
          USE_GOTESTSUM: "1"
        run: hack/run-integration-tests.sh
