name: pr-verifier

on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]

jobs:
  verify:
    uses: kubestellar/infra/.github/workflows/reusable-pr-verifier.yml@main
    secrets: inherit
