name: "PR Title Verifier"

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  contents: read

jobs:
  verify:
    uses: kubestellar/infra/.github/workflows/reusable-pr-verify-title.yml@main
    secrets: inherit
