name: Add pull request to project and assign author

on:
  pull_request_target:
    types: [opened]

permissions:
  contents: write
  
jobs:
  assignAuthor:
    if: github.repository_owner == 'kubestellar'
    name: Assign author to PR
    runs-on: ubuntu-latest
    steps:
      - name: Assign author to PR
        uses: technote-space/assign-author@9558557c5c4816f38bd06176fbc324ba14bb3160
        
      # - name: Get current date
      #   id: date
      #   run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      # - uses: actions/checkout@v4.1.1
      #   with:
      #     token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
      #     persist-credentials: 'false'

      # - uses: actions/add-to-project@v1.0.2 # This adds the issue to the project
      #   with:
      #     project-url: https://github.com/orgs/kubestellar/projects/5
      #     github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
      #   id: add-project

      # - uses: titoportas/update-project-fields@v0.1.0
      #   with:
      #     project-url: https://github.com/orgs/kubestellar/projects/5
      #     github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
      #     item-id: ${{ steps.add-project.outputs.itemId }} # Use the item-id output of the previous step
      #     field-keys: Status,Date Posted
      #     field-values: In Progress,${{ steps.date.outputs.date }}
