name: Add pull request to project and assign author

on:
  pull_request_target:
    types: [opened]
# env:
#   github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
#   MY_GITHUB_TOKEN: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
#   GH_TOKEN: ${{ secrets.GH_ALL_PROJECT_TOKEN }}

permissions:
  contents: write
  
jobs:
  assignAuthor:
    name: Assign author to PR
    runs-on: ubuntu-latest
    steps:
      - name: Assign author to PR
        uses: technote-space/assign-author@v1.3.1
        
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v3.5.3
        with:
          token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
          persist-credentials: 'false'

      - uses: actions/add-to-project@v0.5.0 # This adds the issue to the project
        with:
          project-url: https://github.com/orgs/kcp-dev/projects/12
          github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
        id: add-project

      - uses: titoportas/update-project-fields@v0.1.0
        with:
          project-url: https://github.com/orgs/kcp-dev/projects/12
          github-token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
          item-id: ${{ steps.add-project.outputs.itemId }} # Use the item-id output of the previous step
          field-keys: Status,Date Posted
          field-values: In Progress,${{ steps.date.outputs.date }}
