name: OpenSSF Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: '0 6 * * 1'
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  analysis:
    uses: kubestellar/infra/.github/workflows/reusable-scorecard.yml@main
    secrets: inherit
