name: Spellcheck Action
run-name: Spellcheck Action - ${{ github.ref_name }}

on:
  # So we can trigger manually if needed
  workflow_dispatch:
  # To confirm any changes to docs build successfully, without deploying them
#   pull_request:
#     branches:
#       - main
#       - "release-*"
#     paths:
# #       - "cmd/**"
#       - "docs/**"
# #       - "pkg/**"
#       - ".github/workflows/spellcheck_action.yaml"
  push:
    branches:
      - main
      - "release-*"
    paths:
      - ".github/workflows/spellcheck_action.yaml"
      - ".github/spellcheck/.spellcheck.yml"
      - ".github/spellcheck/.wordlist.yml"
# #       - "cmd/**"
#       - "docs/**"
# #       - "pkg/**"

jobs:
  build:
    if: github.repository_owner == 'kubestellar'
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    # The checkout step
    - uses: actions/checkout@v3.5.3
      with:
        token: ${{ secrets.GH_ALL_PROJECT_TOKEN }}
        persist-credentials: 'false'
    - uses: rojopolis/spellcheck-github-actions@v0
      name: Spellcheck
      with:
        config_path: .github/spellcheck/.spellcheck.yml # put path to configuration file here
        task_name: Markdown
#         source_files: docs/content/*
