name: Spellcheck Action
run-name: Spellcheck Action - ${{ github.ref_name }}

on:
  # So we can trigger manually if needed
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 5"
  # To confirm any changes to docs build successfully, without deploying them
  #  pull_request:
  #    branches:
  #      - main
  #      - "release-*"
  #    paths:
  #      - "docs/**"
  #      - ".github/workflows/spellcheck_action.yaml"
  push:
    branches:
      - main
      - "release-*"
      - "doc-*"
    paths:
      - ".github/workflows/spellcheck_action.yml"
      - ".github/spellcheck/.spellcheck.yml"
      - ".github/spellcheck/.wordlist.txt"
#      - "docs/**"

permissions:
  contents: read

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: rojopolis/spellcheck-github-actions@16d0338a5a3b5e3111a078029fb9a07a8125053d
        name: Spellcheck
        with:
          config_path: .github/spellcheck/.spellcheck.yml
          output_file: spellcheck-output.txt
          # source_files: "docs/content/*"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: success() || failure()
        with:
          name: Spellcheck Output
          path: spellcheck-output.txt
