name: Mark and close stale issues

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  stale:
    uses: kubestellar/infra/.github/workflows/reusable-stale.yml@main
    secrets: inherit
