name: Test Demo Env Creation Script
# Tests demo environment creation script

on:
  workflow_call:
  # So we can trigger manually if needed
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/workflows/**"
      - "!.github/workflows/pr-test-e2e.yml"
      - "**/*.md"
      - ".gha-reversemap.yml"
      - "hack/verify-*"
      - "hack/boilerplate/*"
      - "hack/gha-reversemap.sh"
  push:
    paths-ignore:
      - "docs/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/workflows/**"
      - "!.github/workflows/test-demo-creation-on-kind.yml"
      - "**/*.md"
      - ".*"
      - "hack/verify-*"
      - "hack/boilerplate/*"
      - "hack/gha-reversemap.sh"

permissions:
  contents: read

jobs:
  test-demo-on-kind:
    name: Test demo env creation script on kind
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.24
          cache: true

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        id: install

      - name: Install dependencies
        run: |
          bash <(curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/refs/tags/v0.10.1/install.sh) 0.10.1
          wget https://github.com/kubestellar/kubeflex/releases/download/v0.9.1/kubeflex_0.9.1_linux_amd64.tar.gz
          tar -xvf kubeflex_0.9.1_linux_amd64.tar.gz bin/kflex
          mv bin/kflex /usr/local/bin
          rm -fr bin kubeflex_0.9.1_linux_amd64.tar.gz

      - name: Run test
        run: test/e2e/ci/test-demo-env.sh kind
